<% content_for :title, t(".title") %>

<div>
  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl"><%= t(".title") %></h1>
    <%= button t(".new_routine"),
    style: "primary",
    type: "link",
    route: new_workout_routine_path %>
  </div>

  <div
    id="workout_routines"
    class="divide-y divide-gray-200 space-y-5 min-w-[600px]"
  >
    <% if @workout_routines.any? %>
      <% @workout_routines.each do |workout_routine| %>
        <div
          class="
            flex justify-between items-center p-4 border gap-4 border-slate-400 rounded mb-4
          "
        >
          <div class="flex gap-8 items-center">
            <div>
              <%= button workout_routine.name,
              style: "link",
              type: "link",
              route: workout_routine,
              data: {
                turbo_prefetch: false,
              } %>
            </div>
            <div>
              <%= workout_routine.workout_routine_days.size %>
              <%= t(".days") %>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <%= button style: "link_danger",
          type: "link",
          route: workout_routine_path(workout_routine),
          method: :delete,
          data: {
            turbo_prefetch: false,
            turbo_confirm: t("shared.confirmations.are_you_sure"),
            turbo_method: :delete,
          } do %>
              <%= icon "trash", size: "w-5 h-5" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10"><%= t(".no_routines") %></p>
    <% end %>
  </div>
</div>
