<% content_for :title, @workout_routine.name %>

<div>
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div class="min-w-[600px] flex gap-4 items-center mb-5 text-2xl">
    <h1 class="font-bold flex">
      <%= @workout_routine.name %>
    </h1>
  </div>

  <% @workout_routine.workout_routine_days.each do |day| %>
    <div class="mb-5">
      <%= render day %>
    </div>
  <% end %>

  <div class="flex gap-4">
    <%= button "Back", type: "link", style: "outlined", route: workout_routines_path %>
    <%= button "Destroy",
    style: "danger",
    method: :delete,
    route: workout_routine_path(@workout_routine),
    data: {
      turbo_confirm: "Are you sure?",
    } %>
  </div>
</div>
