<% content_for :title, @workout_routine.name %>

<div>
  <div class="min-w-[600px] flex gap-4 items-center mb-5 text-2xl">
    <h1 class="font-bold">
      <%= @workout_routine.name %>
    </h1>
  </div>

  <% @workout_routine.workout_routine_days.each do |day| %>
    <div class="mb-5">
      <%= render day %>
    </div>
  <% end %>

  <div class="flex gap-4">
    <%= button t("shared.buttons.back"), type: "link", style: "outlined", route: workout_routines_path %>
    <%= button t(".add_day"),
    style: "primary",
    type: "link",
    route: new_workout_routine_workout_routine_day_path(@workout_routine) %>
    <%= button t("shared.buttons.destroy"),
    style: "danger",
    method: :delete,
    route: workout_routine_path(@workout_routine),
    data: {
      turbo_confirm: t("shared.confirmations.are_you_sure"),
    } %>
  </div>
</div>
