<% content_for :title, "Workouts" %>

<div class="w-full max-w-4xl self-center">
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-2xl">Workouts</h1>
    <% if @active_workout %>
      <%= button style: "primary", type: "link", route: workout_path(@active_workout) do %>
        <span class="flex items-center gap-2">
          Continue workout
          <%= render(TimerComponent.new(
            started_at: @active_workout.started_at,
            ended_at: @active_workout.ended_at,
            paused_at: @active_workout.paused_at,
            total_paused_seconds: @active_workout.total_paused_seconds,
          )) %>
        </span>
      <% end %>
    <% else %>
      <%= button "Start workout", style: "primary", type: "link", route: new_workout_path %>
    <% end %>
  </div>

  <%= turbo_frame_tag "calendar" do %>
    <%= render(CalendarComponent.new(
      current_date: @current_date,
      calendar_start: @calendar_start,
      calendar_end: @calendar_end,
      workouts_by_date: @workouts_by_date,
      prev_month: @prev_month,
      next_month: @next_month
    )) %>
  <% end %>
</div>
