<% content_for :title, "Workouts" %>

<div>
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Workouts</h1>
    <%= button "Start workout", style: "primary", type: "link", route: new_workout_path %>
  </div>

  <div id="workouts" class="space-y-2">
    <% if @workouts.any? %>
      <% @grouped_by_week.each_with_index do |(day, workouts), i| %>
        <div class="mb-2 font-bold <%= i > 0 ? "mt-10" : "" %>">
          Week
          <%= @grouped_by_week.size - i %>
          (<%= day.strftime("%d %B") %>
          -
          <%= day.end_of_week.strftime("%d %B") %>)
        </div>
        <% workouts.each do |workout| %>
          <div class="p-2 border-b <%= workout.cardio? ? "border-teal-400" : "border-slate-400" %>">
            <div class="flex flex-wrap lg:flex-nowrap gap-8 items-center">
              <div class="w-20">
                <%= button workout.started_at.strftime("%A"),
                style: "link",
                type: "link",
                route: workout_path(workout),
                data: {
                  turbo_prefetch: false,
                } %>
              </div>
              <div class="w-20">
                <%= workout.started_at.strftime("%d %B") %>
              </div>
              <div class="flex-grow">
                <% if workout.cardio? %>
                  <%= workout.workout_type.humanize %>
                <% else %>
                  <%= workout.workout_routine_day&.name %>
                <% end %>
              </div>
              <div class="text-center">
                <% if workout.cardio? %>
                  <%= workout.distance.to_f / 1000 %>km
                <% else %>
                  <%= workout.workout_sets.size %>
                  sets
                <% end %>
              </div>

              <%= render(
                TimerComponent.new(
                  started_at: workout.started_at,
                  ended_at: workout.ended_at,
                ),
              ) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No workouts found.</p>
    <% end %>
  </div>
</div>
