<%= turbo_frame_tag "notes_modal" do %>
  <div
    data-controller="modal"
    data-modal-auto-open-value="true"
    data-modal-turbo-frame-value="notes_modal"
  >
    <%= modal title: t(".title"), size: "md" do %>
      <%= form_with model: @workout, url: update_notes_workout_path(@workout), method: :patch do |f| %>
        <div class="p-4">
          <%= f.text_area :notes,
                      rows: 6,
                      placeholder: t(".placeholder"),
                      class:
                        "w-full bg-slate-700 border border-slate-600 rounded-lg px-4 py-3 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 resize-none" %>
        </div>
        <div class="flex justify-end gap-2 p-4 border-t border-slate-700">
          <%= button t("shared.buttons.cancel"),
          style: "outlined",
          data: {
            action: "click->modal#close",
          } %>
          <%= button text: t("shared.buttons.save"), style: "primary", type: "submit" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
