<% content_for :title, "Workout" %>

<div>
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div class="min-w-[600px] flex gap-4 items-center mb-5 text-2xl">
    <h1 class="font-bold flex">
      <% if @workout.workout_routine_day %>
        <%= @workout.workout_routine_day.workout_routine.name %>
        -
        <%= @workout.workout_routine_day.name %>
      <% else %>
        Workout
      <% end %>
    </h1>
    <div>
      -
    </div>
    <%= render(
      TimerComponent.new(
        started_at: @workout.started_at,
        ended_at: @workout.ended_at,
      ),
    ) %>
  </div>

  <% if @workout.strength? %>
    <%= turbo_frame_tag ["workout_sets"] do %>
      <% @workout.workout_sets.each do |set| %>
        <div class="mb-5">
          <%= render set %>
        </div>
      <% end %>
    <% end %>

    <% unless @workout.ended? %>
      <div class="mb-8 pb-8 border-b border-slate-300">
        <%= turbo_frame_tag ["new_workout_set"] do %>
          <% if @workout.workout_sets.none?(&:running?) %>
            <%= render "workout_sets/form", workout_set: WorkoutSet.new(workout: @workout) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="mb-5">
      Distance:
      <%= @workout.distance.to_f / 1000 %> km
    </div>
  <% end %>

  <div class="flex gap-4">
    <% if @workout.ended? %>
      <%= button "Back", type: "link", style: "outlined", route: workouts_path %>
      <%= button "Destroy",
      style: "danger",
      method: :delete,
      route: workout_path(@workout),
      data: {
        turbo_confirm: "Are you sure?",
      } %>
    <% else %>
      <%= button "Finish workout",
      style: "primary",
      route: stop_workout_path(@workout),
      method: :post,
      data: {
        turbo_method: :post,
        turbo_confirm: "Are you sure?",
      } %>
    <% end %>
  </div>
</div>
