<%= form_with(model: workout_routine_day, url: workout_routine_day.new_record? ? workout_routine_workout_routine_days_path : workout_routine_workout_routine_day_path(workout_routine_day), class: "contents") do |form| %>
  <% if workout_routine_day.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
    >
      <h2><%= pluralize(workout_routine_day.errors.count, "error") %>
        prohibited this workout_routine_day from being saved:</h2>

      <ul class="list-disc ml-6">
        <% workout_routine_day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name,
                    class: [
                      "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                      {
                        "border-gray-400 focus:outline-blue-600":
                          workout_routine_day.errors[:name].none?,
                        "border-red-400 focus:outline-red-600":
                          workout_routine_day.errors[:name].any?,
                      },
                    ] %>
  </div>

  <div>
    <%= button text: "Save", type: "submit", style: "primary" %>
  </div>
<% end %>

<% unless workout_routine_day.new_record? %>
  <div class="my-5">
    <%= turbo_frame_tag 'exercises' do %>
      <%= render "exercises", workout_routine_day: %>
    <% end %>
  </div>

  <div class="mb-5">
    <%= button "Add new exercise",
    type: "link",
    style: "success",
    method: :get,
    route:
      new_workout_routine_workout_routine_day_workout_routine_day_exercise_path(
        workout_routine_day.workout_routine,
        workout_routine_day,
      ),
    data: {
      turbo_method: :get,
      turbo_prefetch: false,
      turbo_frame: "new_exercise_form",
    } %>
  </div>

  <%= turbo_frame_tag 'new_exercise_form' do %>
  <% end %>
<% end %>
