<%= form_with(model: workout_rep, class: "contents") do |form| %>
  <% if workout_rep.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
    >
      <h2><%= pluralize(workout_rep.errors.count, "error") %>
        prohibited this workout_rep from being saved:</h2>

      <ul class="list-disc ml-6">
        <% workout_rep.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex items-center flex-wrap lg:flex-no-wrap gap-4">
    <div>
      <%= form.hidden_field :workout_set_id %>
      <%= form.select(
        :reps,
        (1..40).map { |r| ["#{r} x", r] },
        {},
        { class: "border w-[70px] border-slate-300 px-2 py-2 rounded" },
      ) %>
    </div>

    <div>
      <%= form.select(
        :weight,
        (0..40).step(2.5).map { |w| ["#{w}KG", w] },
        {},
        { class: "border w-[90px] border-slate-300 px-2 py-2 rounded" },
      ) %>
    </div>

    <%= button text: "Add", type: "submit", style: "primary" %>
  </div>
<% end %>
