<%= app_form_with(model: workout_rep, class: "contents") do |form| %>
  <% if workout_rep.errors.any? %>
    <div class="bg-red-900/50 text-red-200 px-2 py-1 text-xs rounded mb-2">
      <%= workout_rep.errors.full_messages.join(", ") %>
    </div>
  <% end %>
  <%= form.hidden_field :workout_set_id %>
  <div class="flex lg:flex-nowrap flex-wrap items-center gap-2">
    <%= form.input :reps,
               as: :select,
               collection: (1..40).map { |r| ["#{r}×", r] },
               inline: true,
               width: "w-20" %>
    <% if workout_rep.workout_set.exercise.with_weights %>
      <%= form.input :weight,
                 as: :select,
                 collection: weight_options(workout_rep.workout_set.workout.user),
                 inline: true %>
    <% end %>
    <% if workout_rep.workout_set.exercise.with_band %>
      <%= form.input :band,
                 as: :select,
                 collection:
                   [[t("workout_reps.form.no_band"), nil]] +
                     WorkoutRep::BANDS.map { |b| [b.humanize, b] },
                 inline: true %>
    <% end %>
    <%= button text: "+", type: "submit", style: "primary" %>
  </div>
<% end %>
