<div class="mb-2">
  <%= render collection: workout_set.workout_reps.filter(&:persisted?),
  partial: "workout_reps/workout_rep",
  locals: {
    delete_visible: true,
  } %>
</div>
<% unless workout_set.ended? %>
  <div class="mb-2 flex">
    <%= badge do %>
      <div class="flex gap-2">
        <div>
          <%= icon_stopwatch %>
        </div>
        <div
          data-controller="timer"
          data-timer-show-hours-value="false"
          data-timer-date-value="<%= workout_set.workout_reps.filter(&:persisted?).last&.updated_at || DateTime.now %>"
          ></div>
      </div>
    <% end %>
  </div>
  <%= render "workout_reps/form",
  workout_rep:
    workout_set.workout_reps.new(
      weight: workout_rep.weight,
      reps: workout_rep.reps,
    ) %>
<% end %>
