<div class="flex gap-1 mb-1 items-center">
  <%= badge do %>
    <%= workout_rep.reps %>
  <% end %>
  <div>
    x
  </div>
  <%= badge do %>
    <%= workout_rep.weight %>KG
  <% end %>
  <% if delete_visible %>
    <div class="ml-2">
      <%= button route: workout_rep_path(workout_rep),
      method: :delete,
      type: 'button',
      style: "link_danger" do %>
        <%= icon_bin %>
      <% end %>
    </div>
  <% end %>
</div>
