<div class="flex gap-1 mb-2 items-center">
  <%= badge do %>
    <%= workout_rep.reps %>
  <% end %>
  
  <% if workout_rep.weight %>
    <div>
      x
    </div>
    <%= badge do %>
      <%= workout_rep.weight %>KG
    <% end %>
  <% end %>
  
  <% if workout_rep.band %>
    <div>
      x
    </div>
    <%= badge do %>
      <%= workout_rep.band.humanize %>
    <% end %>
  <% end %>
  <% if delete_visible %>
    <div class="ml-2">
      <%= button route: workout_rep_path(workout_rep),
      method: :delete,
      type: 'button',
      style: "link_hover_danger" do %>
        <%= icon_xmark %>
      <% end %>
    </div>
  <% end %>
</div>
