<div class="tabular-nums <%= @ended_at ? "" : (paused? ? "text-yellow-600" : "text-green-600") %>">
  <% if @ended_at %>
    <% elapsed = (@ended_at - @started_at).to_i - @total_paused_seconds %>
    <% diff = Time.at(elapsed).utc %>
    <%= diff.hour > 0 ? diff.strftime("%k:%M:%S") : diff.strftime("%M:%S") %>
  <% elsif paused? %>
    <% elapsed = (@paused_at - @started_at).to_i - @total_paused_seconds %>
    <% diff = Time.at(elapsed).utc %>
    <%= diff.hour > 0 ? diff.strftime("%k:%M:%S") : diff.strftime("%M:%S") %>
  <% else %>
    <div data-controller="timer" data-timer-date-value="<%= @started_at.iso8601 %>" data-timer-show-hours-value="<%= @show_hours %>" data-timer-paused-seconds-value="<%= @total_paused_seconds %>">
    </div>
  <% end %>
</div>
