<%= link_to modal_workout_path, class: pill_classes, data: { turbo_frame: "workout_modal" } do %>
  <% if compact? %>
    <span><%= label %></span>
  <% else %>
    <span class="flex justify-between gap-2">
      <span class="truncate"><%= label %></span>
      <% if has_notes? %>
        <%= helpers.icon "note", size: "w-3 h-3" %>
      <% else %>
        <span class="text-xs opacity-75 whitespace-nowrap"><%= helpers.seconds_to_human(@workout.time_in_seconds) %></span>
      <% end %>
    </span>
  <% end %>
<% end %>
