<div class="bg-slate-700 rounded relative" data-controller="accordion">
  <div
    class="
      flex bg-slate-800 items-center rounded-t justify-between px-4 py-3 mb-2 gap-2
    "
  >
    <button
      data-action="click->accordion#toggle"
      data-accordion-target="trigger"
      class="w-full cursor-pointer transition flex items-center gap-2"
      aria-expanded="<%= workout_set.running? || workout_set.workout.ended? ? "true" : "false" %>"
    >
      <div data-accordion-target="icon">
        <%= icon_chevron_down %>
      </div>
      <div class="flex gap-2 items-center">
        <div class="font-bold">
          <%= workout_set.exercise.name %>
        </div>
        <%= badge do %>
          <div class="flex gap-2 items-center">
            <%= icon_stopwatch %>
            <%= render(
              TimerComponent.new(
                started_at: workout_set.started_at,
                ended_at: workout_set.ended_at,
                paused_at: workout_set.paused_at,
                total_paused_seconds: workout_set.total_paused_seconds,
              ),
            ) %>
          </div>
        <% end %>
      </div>
    </button>
    <%= button route: workout_set_path(workout_set),
    method: :delete,
    type: 'button',
    style: "link_hover_danger",
    data: {
      turbo_confirm: "Are you sure?",
    } do %>
      <%= icon_xmark %>
    <% end %>
  </div>

  <div
    class="overflow-hidden transition-all duration-300 ease-in-out"
    data-accordion-target="content"
  >
    <div class=" flex gap-6 pb-4 px-4 ">
      <% Current
      .user
      .workout_sets
      .where(exercise: workout_set.exercise)
      .where.not(id: workout_set.id)
      .where.not(ended_at: nil)
      .order(created_at: :asc)
      .last(3).each do |prev_workout_set| %>
        <% if prev_workout_set %>
          <div class="mb-2 border-r border-slate-600 pr-6 text-slate-400 hidden lg:block">
            <div class="flex gap-2 mb-2 border-b border-slate-600 pb-2">
              <%= badge do %>
                <%= prev_workout_set.created_at.strftime("%d %b") %>
              <% end %>
              <%= badge do %>
                <%= Time
                  .at(prev_workout_set.ended_at - prev_workout_set.started_at)
                  .utc
                  .strftime("%M:%S") %>
              <% end %>
            </div>
            <%= render collection: prev_workout_set.workout_reps,
            partial: "workout_reps/workout_rep",
            locals: {
              delete_visible: false,
            } %>
          </div>
        <% end %>
      <% end %>

      <div class="flex-grow">
        <div class="flex mb-2 border-b border-slate-600 pb-2">
          <%= badge do %>
            <% if workout_set.workout.running? %>
              Today
            <% else %>
              <%= workout_set.created_at.strftime("%d %b") %>
            <% end %>
          <% end %>
        </div>
        <%= turbo_frame_tag workout_set, "reps" do %>
          <%= render partial: "workout_reps/list_with_form",
          locals: {
            workout_set:,
            workout_rep: workout_set.workout_reps.new(weight: 10, reps: 10),
          } %>
        <% end %>
      </div>
    </div>

    <% unless workout_set.ended? %>
      <div class="p-4 flex rounded-b justify-center bg-slate-800">
        <%= button "Complete this set",
        type: "button",
        style: "success",
        method: :post,
        route: stop_workout_set_path(workout_set),
        data: {
          turbo_method: :post,
        } %>
      </div>
    <% end %>
  </div>
</div>
