<div class="bg-slate-700 rounded relative" data-controller="accordion">
  <div class="flex bg-slate-800 items-center rounded-t justify-between px-4 py-3 gap-2">
    <button
      data-action="click->accordion#toggle"
      data-accordion-target="trigger"
      class="w-full cursor-pointer transition flex items-center gap-3"
      aria-expanded="<%= workout_set.running? || workout_set.workout.ended? ? "true" : "false" %>"
    >
      <div data-accordion-target="icon" class="text-slate-400">
        <%= icon_chevron_down %>
      </div>
      <span class="font-semibold text-lg"><%= workout_set.exercise.name %></span>
      <%= badge do %>
        <div class="flex gap-1 items-center">
          <%= icon_stopwatch %>
          <%= render(
            TimerComponent.new(
              started_at: workout_set.started_at,
              ended_at: workout_set.ended_at,
              paused_at: workout_set.paused_at,
              total_paused_seconds: workout_set.total_paused_seconds,
            ),
          ) %>
        </div>
      <% end %>
    </button>
    <%= button route: workout_set_path(workout_set),
    method: :delete,
    type: 'button',
    style: "link_hover_danger",
    data: {
      turbo_confirm: "Are you sure?",
    } do %>
      <%= icon_xmark %>
    <% end %>
  </div>

  <div
    class="overflow-hidden transition-all duration-200 ease-in-out"
    data-accordion-target="content"
  >
    <div class="py-3 px-4">
      <%= turbo_frame_tag workout_set, "reps" do %>
        <%= render partial: "workout_reps/list_with_form",
        locals: {
          workout_set:,
          workout_rep: workout_set.workout_reps.new(workout_set.default_rep_values),
        } %>
      <% end %>
    </div>

    <% unless workout_set.ended? %>
      <div class="px-4 py-3 flex rounded-b justify-center bg-slate-800">
        <%= button "Complete this set",
        type: "button",
        style: "success",
        method: :post,
        route: stop_workout_set_path(workout_set),
        data: {
          turbo_method: :post,
        } %>
      </div>
    <% end %>
  </div>
</div>
