<div class="border border-slate-400 rounded relative">
  <div class="flex justify-between pt-4 px-4 border-b mb-2 border-slate-400">
    <div class="flex gap-2 mb-2">
      <div class="font-bold">
        <%= workout_set.exercise.name %>
      </div>
      <%= render(
        TimerComponent.new(
          started_at: workout_set.started_at,
          ended_at: workout_set.ended_at,
        ),
      ) %>
    </div>
    <%= button route: workout_set_path(workout_set),
    method: :delete,
    type: 'button',
    style: "link_danger",
    data: {
      turbo_confirm: "Are you sure?",
    } do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        class="h-5 w-5 text-current"
        fill="currentColor"
      ><path
          d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
        /></svg>
    <% end %>
  </div>

  <% prev_workout_set =
    Current
      .user
      .workout_sets
      .where(exercise: workout_set.exercise)
      .where(created_at: ..workout_set.created_at - 1.minute)
      .last %>

  <div class="flex gap-6 pb-4 px-4">
    <% if prev_workout_set %>
      <div class="mb-2 border-r border-slate-400 pr-6 text-slate-300">
        <%= prev_workout_set.created_at.strftime("%d %b") %>
        <%= render prev_workout_set.workout_reps %>
      </div>
    <% end %>

    <div>
      Today
      <%= turbo_frame_tag ["reps"] do %>
        <div class="mb-2">
          <%= render workout_set.workout_reps %>
        </div>
        <% unless workout_set.ended? %>
          <%= render "workout_reps/form",
          workout_rep: workout_set.workout_reps.new(weight: 10, reps: 10) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% unless workout_set.ended? %>
    <div class="p-4 flex border-t border-slate-400 justify-center">
      <%= button "Complete this set",
      type: "button",
      style: "success",
      method: :post,
      route: stop_workout_set_path(workout_set),
      data: {
        turbo_method: :post,
      } %>
    </div>
  <% end %>
</div>
