<%= app_form_with(model: exercise, class: "contents") do |form| %>
  <%= form.input :name %>
  <%= form.input :muscles, input_html: { placeholder: t(".muscles_placeholder") } %>

  <div class="mb-4 space-y-4">
    <p class="block text-sm font-medium text-slate-300"><%= t(".equipment") %></p>
    <%= form.toggle :with_weights, t(".with_weights") %>
    <%= form.toggle :with_band, t(".with_band"), color: :purple %>
  </div>

  <div class="mt-6">
    <%= form.submit t("shared.buttons.save") %>
  </div>
<% end %>
