<%= app_form_with(model: exercise, class: "contents") do |form| %>
  <%= form.input :name %>
  <%= form.input :muscle_id,
             as: :select,
             collection: Muscle.order(:name).map { |m| [m.human_name, m.id] },
             include_blank: t(".select_muscle") %>

  <div class="mb-4 space-y-4">
    <p class="block text-sm font-medium text-slate-300"><%= t(".equipment") %></p>
    <%= form.toggle :with_weights, t(".with_weights") %>
    <%= form.toggle :with_band, t(".with_band"), color: :purple %>
  </div>

  <div class="mt-6">
    <%= form.submit t("shared.buttons.save") %>
  </div>
<% end %>
