<% content_for :title, t(".title") %>

<div class="lg:min-w-[600px]">
  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl"><%= t(".title") %></h1>
    <%= button t(".new_exercise"), route: new_exercise_path, style: "primary", type: "link" %>
  </div>

  <div id="exercises" class="divide-y divide-gray-400 space-y-2">
    <% if @exercises.any? %>
      <% @exercises.each do |exercise| %>
        <div
          class="
            flex justify-between items-center
          "
        >
          <div class="flex gap-4">
            <div>
              <%= button exercise.name, route: exercise, style: "link", type: "link" %>
            </div>
            <div>
              <%= exercise.muscles %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10"><%= t(".no_exercises") %></p>
    <% end %>
  </div>
</div>
