<!DOCTYPE html>
<html class="w-full">
  <head>
    <title><%= content_for(:title) || "Workout Bro" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon2.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon2.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full relative">
    <% if flash.any? %>
      <div class="absolute top-8 left-1/2 -translate-x-1/2 z-50 flex flex-col items-center gap-2">
        <% flash.each do |type, message| %>
          <div
            data-controller="flash"
            class="
              px-5 py-3 rounded-lg font-medium shadow-xl border backdrop-blur-sm
              transition-all duration-300 ease-in-out
              <%= type == 'alert' ? 'bg-red-800 text-red-100 border-red-600' : 'bg-green-800 text-green-100 border-green-600' %>
            "
          >
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if authenticated? %>
      <div
        class="
          flex w-full bg-slate-700 items-center justify-center text-sm lg:text-base
        "
      >
        <%= image_tag "icon.png", class: "w-10 h-10" %>
        <%= link_to "Workouts",
        workouts_path,
        class: "px-2 lg:px-4 py-2 block hover:bg-slate-500" %>
        <%= link_to "Routines",
        workout_routines_path,
        class: "px-2 lg:px-4 py-2 block hover:bg-slate-500" %>
        <%= link_to "Stats", stats_path, class: "px-2 lg:px-4 py-2 block hover:bg-slate-500" %>
        <%= link_to "Exercises",
        exercises_path,
        class: "px-2 lg:px-4 py-2 block hover:bg-slate-500" %>
        <%= link_to session_path,
        method: :destroy,
        data: { turbo_method: :delete },
        class: "px-2 lg:px-4 py-2 block hover:bg-slate-500"  do %>
          <%= icon_exit %>
        <% end %>
      </div>
    <% end %>
    <main class="w-full mt-10 px-5 flex justify-center">
      <div class="flex w-full justify-center">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
